[submodule "back-end"]
	path = back-end
	url = https://github.com/PZSP2-21Z-17/back-end.git
	branch = develop
[submodule "front-end"]
	path = front-end
	url = https://github.com/PZSP2-21Z-17/front-end.git
	branch = develop
